
.blog-item {
    width: 250px;
    float: left;
    padding-right: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}

.blog-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h2.post-title {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

h2.post-title a {
    text-decoration: none;
    color: #121151;
}

h2.post-title a:hover {
    color: #ce3610;
}